In [28]:

#Indentacion

print('Hola Mundo')

if 1==11 : 
    print('condicion es correcta')

print('Salir de if')

Hola Mundo
Salir de if

In [29]:
var1 = 5
var2 = 'Manzana'
var3 = 3.5

In [30]:
type(var2)

str

In [34]:
var_compleja = 3.14j
var_lista = [1,2,5]
var_lista_vacia = []
var_lista_mixta = [1,'Manzana',55.8]
var_lista_anidada = [13,'Pera',[1,2,5]]

In [35]:
var_lista_anidada[2]

[1, 2, 5]

In [36]:
var_lista_anidada[2][2]

5

In [37]:
for e in var_lista : 
    print(e*2)

2
4
10

In [38]:
#Diccionarios

'''
{
'key1':value1,
'key2':value2
}
'''

var_dict = {}
var_dict_int = {1:'Manzana',2:'Pelota'}
var_dict_mixta = {1:34,'name':'Juan'}
var_dict_str = {'name':'Juan','age':26}

var_dict= {'emails':['drx@gmail.com','g2@gmail.com']}

type(var_dict)

dict

In [41]:
print(var_dict_str['name'])
print(var_dict_str['age'])
#print(var_dict_str['address'])

Juan
26

In [43]:
print(var_dict_str.get('address'))

None

In [44]:
var_dict_str['address'] = 'Lima'

print(var_dict_str)

{'name': 'Juan', 'age': 26, 'address': 'Lima'}

In [ ]:
#Funciones

def read_table(tabla):
    query = f"SELECT * FROM {tabla}"
    return execute_query(query)

varProducto = read_table('producto')
varCategoria = read_table('categoria')

In [45]:
def suma(a,b):
    sum = a + b
    return sum

var1 = suma(-4,19)
print(var1)

15